
body {
  background-color: #000;
  font-family: sans-serif;
  overflow: hidden;
}

.drop-zone {
  border: 7px dashed #ccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 9999999;
  background-color: #333
}

.drop-zone > p {
  font-size: 20pt;
  color: #ccc;
  margin: 25% 43%;
  width: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.subtitles-selector {
  width: 100%;
}

.subtitles-selector .btn {
  overflow: hidden;
  text-align: left;
}

.word-over {
  background-color: rgba(255, 200, 0, 0.6);
}

.translation {
  position: fixed;
  background-color: #000;
  z-index: 9999;
  padding: 7px;
  display: none;
  border: 2px solid #333;
  color: #fff;
}

.translation ul {
  margin-left: 15px;
}

.translation ul > li  {
  list-style-type: square;
}

.translation .original {
  font-weight: bold;
}

.translation .copyright {
  float: right;
  font-style: italic;
  font-size: 90%;
  color: #ccc;
  margin-top: 10px;
}

.translation .copyright a {
  color: #ccc;
}

#subtitles-spinner {
  margin-left: 49%;
}
